{% extends 'base.html.twig' %}

{% block title %}{{ 'Products page'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{  path('product', {productId: 1}) }}" class="btn btn-success mb-5 mt-3">{{ 'Create'|trans }}</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ 'Id'|trans }}</th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Price'|trans }}</th>
                    <th scope="col">{{ 'Description'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th>{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
